<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Student Reg</a>
    <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input
        class="form-control me-2"
        type="text"
        placeholder="User Name"
        formControlName="userName"
      />
      <input
        class="form-control me-2"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-sm-6 mt-5">
      <h2>
        <br />
        Login Page
      </h2>
      <p>Login or register from here to access.</p>
      <p *ngIf="error" style="color: red">
        Username or password does not match
      </p>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6">
      <div class="login-form mt-5">
        <form>
          <div class="form-group">
            <label>User Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="User Name"
              formControlName="regUuser"
            />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="regi"
            />
          </div>
          <button
            type="submit"
            class="btn btn-success"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Register
          </button>

          <!-- <p *ngIf="!loginForm.valid">
            please Enter your Username and Password
          </p> -->
        </form>
      </div>
    </div>
  </div>
</div>
