<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand">Student Reg</a>
    <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input
        class="form-control me-2"
        type="text"
        placeholder="User Name"
        formControlName="userName"
      />
      <input
        class="form-control me-2"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button
        class="btn btn-outline-success"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-sm-6 mt-5">
      <h2>
        <br />
        Login Page
      </h2>
      <p>Login or register from here to access.</p>
      <p *ngIf="error" style="color: red">
        Username or password does not match
      </p>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6">
      <div class="login-form mt-5">
        <form
          class="row g-3"
          [formGroup]="regForm"
          (ngSubmit)="onRegistration()"
        >
          <div class="col-md-8">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
            />
          </div>
          <div class="col-md-8">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </div>
          <!-- <div class="col-md-8">
            <label for="role" class="form-label">Role</label>
            <input
              type="text"
              class="form-control"
              id="role"
              placeholder="Put ur role"
              formControlName="role"
            />
          </div> -->
          <div class="col-md-5">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" formControlName="role">
              <!-- <option selected>Choose role</option> -->
              <option>USER</option>
              <option>ADMIN</option>
            </select>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-outline-success">
              Register
            </button>
          </div>
          <span class="regComplete">
            <p style="color: green" *ngIf="isCompleted">
              Registration done successfully
            </p>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
